// expect to find 'getArity()', 'getChild(int)', 'getOpcode()' in the node
// IRTreeNode

// as prefix of generated MC nodes
.target IA64

stmt : PSEUDO_ASSIGN(reg op)
// mov
1

stmt : op
0

reg : op
0

op : BRANCH2(value label label)
// cmp, jcc
2

op : BRANCH2(SLT(value value) label label)
// cmp, jcc
2

op : BRANCH2(SGT(value value) label label)
// cmp, jcc
2

op : BRANCH2(EQ(value value) label label)
// jcc
2

op : SLT(value value)
// cmp
1

op : SGT(value value)
// cmp
1

op : EQ(value value)
// cmp
1

op : RET2(value)
// mov, ret
2

op : PARAM
// mov
1

op : SREM(value value)
// mov, div, mov
3

op : PHI(value label value label)
// mov
1

op : ADD(value value)
// add
1

value : reg
0

value : INT_IMM
0

reg : REG
0

label : LABEL
0